@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	background-color: #111;
}

.title {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
}

h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}

h2 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 50px;
	line-height: .75;
	margin: 10px 0;
}

/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}

/* footer */
.social-box .list-social{
    list-style: none;
}
.footer
{	
	position: relative;
	background: #000000;
	padding:10px 100px 10px;
	text-align: center;
	z-index: 999;
	margin: 0;
	bottom:0px;
	color: #ffffff;
}

.footer-item .social
{
	color:#ffffff;
	font-size: 30px;
}
.fa-facebook-f.social
{
	font-size: 28px;
}

.footer-item .social:hover
{
	color:rgb(231, 27, 27);
	font-size: 30px;
}
.footer-item
{
	padding:0 10px;
}